
body {
    font-family: 'Roboto', sans-serif;
}
/* Style for the modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 50%;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
}

/* Style for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Input styles */
input[type="number"], input[type="text"], input[type="date"], select {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #e2e6f1; /* Initial border style */
    border-radius: 4px;     /* Rounded corners */
        /*transition: border-color 0.3s; Smooth transition for border color */
}

input[type="number"]:focus, input[type="text"]:focus, input[type="date"]:focus, select:focus {
    border-color: #4c83ef;
    outline: none; /* Remove default focus outline */
}

input[type="number"]:hover, input[type="text"]:hover, input[type="date"]:hover, select:hover {
    border-color: #a0bcf7;
}

/* Add button */
#addBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

th.gridjs-th{
    padding: 2px !important;
}

td.gridjs-td{
    padding: 4px !important;
}
h1 {
    font-size: x-large;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button.edit {
    background-color: #4CAF50;
    color: white;
}

.button.delete {
    background-color: #f44336;
    color: white;
}

.button.add-company, .button.save {
    background-color: #008CBA;
    color: white;
}

.button.add-name {
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10px;
}

.button.delete-company {
    background-color: #f44336;
    color: white;
}

/* Popup styling */
.popup {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2 {
    margin: 0;
}

.popup-header .close {
    cursor: pointer;
    font-size: 24px;
}

.popup-body input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.popup-body select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Main popup styling */
.main-popup {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.main-popup-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 600px;
    max-width: 90%;
}

.main-popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-popup-header h2 {
    margin: 0;
}

.main-popup-header .close {
    cursor: pointer;
    font-size: 24px;
}

.table-container {
    max-height: 360px; /* Adjust height as needed */
    overflow-y: auto;
}

.credit-users-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    position: relative;
}

.popup-content.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.popup-content.close:hover,
.popup-content.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

ul {
    height: 300px;
    list-style-type: none;
    padding: 0;
    overflow: auto;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background-color: #c0392b;
}
.currency-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}
.currency-table th, .currency-table td {
    padding: 12px;
    border: 1px solid #dddddd;
}
.currency-table th {
    background-color: #6c757d;
    color: white;
}
.currency-table thead th[rowspan="2"] {
    background-color: #6c757d;
    color: white;
    vertical-align: middle;
}
.currency-table tbody td {
    background-color: #e9ecef;
}
.currency-table tbody td:first-child {
    background-color: #28a745;
    color: white;
}
.currency-table tbody td:last-child {
    font-weight: bold;
}
.currency-positive {
    width: 100px;
    background-color: #28a745 !important;
    color: white;
}
.currency-positive-open{
    width: 100px;
    background-color: white !important;
    color: black;
}
.currency-negative-open{
    width: 100px;
    background-color: white !important;
    color: black;
}

.currency-positive-openTotal{
    width: 100px;
    background-color: #ade08a !important;
    color: white;
}
.currency-negative-openTotal{
    width: 100px;
    background-color: #f18d97c1 !important;
    color: white;
}

.currency-negative {
    width: 100px;
    background-color: #dc3545 !important;
    color: white;
}
.spinner-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.blurred {
    filter: blur(5px);
    transition: filter 0.3s;
}
.DenominationSizeID{
    width: 250px;
    background-color: #6c757d;
    color: white;
}

.NetAvailableSizeID{
    width: 250px;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    height: fit-content;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 10;
    width: 300px;
    text-align: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}
.password-popup .popup-header {
    margin-left: 15px;
    font-size: 20px;
    margin-bottom: 10px;
}
.password-popup .popup-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.password-popup .popup-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.password-popup .popup-button:hover {
    background-color: #0056b3;
}
.open-popup-button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.open-popup-button:hover {
    background-color: #218838;
}